@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Apply Css === */
@layer {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
  }
}

.main {
  @apply w-full p-2 mt-16 flex items-center justify-center mx-auto;
}
